@import 'components/footer/footer.css';

html {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.base {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightgray;
}

.topnav {
    display:  block;
}

.menu {
    display: flex;
    list-style-type: none;
    background-color: #4D6969;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a.active {
    color: lightgrey;
}
