@import 'components/footer/footer.css';
@import 'pages/authentication/authentication.css';


html {
    height: 100%;
}

.content {
    flex: 1 0 auto;
    width: 800px;
    margin: 0 auto;
}

footer {
    flex-shrink: 0;
}

.footer {
    padding: 20px;
}

.base {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightgray;
    margin: 0;
}

.topnav {
    display:  block;
}

.menu {
    display: flex;
    list-style-type: none;
    background-color: #4D6969;
    margin: 0;
    padding: 16px 0;
    align-items: center;
}

.menu img {
    padding: 0 16px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a.active {
    color: lightgrey;
}

.menu li {
    padding-right: 20px;
}

.body__img {
    align-items: center;
}

